module {{ name }} (
`ifdef USE_POWER_PINS
{% for p in power_names %}
    inout {{ p }},
{% endfor %}
`endif
{% for port in all_ports %}
    {% if port.dir == 'input' %}input{% elif port.dir in ('output', 'tristate') %}output{% else %}inout{% endif %} logic {{ ('[%d:0] ' % (port.width - 1)) if port.width > 1 else '' }}{{ port.name }}{{ ',' if not loop.last else '' }}
{% endfor %}
);

{% for inp in inputs %}
    logic {{ ('[%d:0] ' % (inp.width - 1)) if inp.width > 1 else '' }}{{ inp.signal }}_p2c;
{% endfor %}
{% for out in outputs %}
    logic {{ ('[%d:0] ' % (out.width - 1)) if out.width > 1 else '' }}{{ out.signal }}_c2p;
{% endfor %}
{% for io in inouts %}
    logic {{ ('[%d:0] ' % (io.width - 1)) if io.width > 1 else '' }}{{ io.in_sig }};
    logic {{ ('[%d:0] ' % (io.width - 1)) if io.width > 1 else '' }}{{ io.out_sig }};
    logic {{ ('[%d:0] ' % (io.width - 1)) if io.width > 1 else '' }}{{ io.oe_sig }};
{% endfor %}
{% for ts in tristates %}
    logic {{ ('[%d:0] ' % (ts.width - 1)) if ts.width > 1 else '' }}{{ ts.out_sig }};
    logic {{ ('[%d:0] ' % (ts.width - 1)) if ts.width > 1 else '' }}{{ ts.oe_sig }};
{% endfor %}

    {{ design_name }} i_{{ design_name }}
    (
{% for sig, wire in connections %}
        .{{ sig }} ({{ wire }}){{ ',' if not loop.last else '' }}
{% endfor %}
    );

{% for p in scalar_power %}
    (* keep *)
    {{ tech_prefix }}_IOPad{{ power_pad_type(p.name) }} {{ p.name }}_pad  (
        `ifdef USE_POWER_PINS
{% for pw in power_names %}
        .{{ pw | ljust(power_pad_width) }}({{ pw }}){{ ',' if not loop.last else '' }}
{% endfor %}
        `endif
    );

{% endfor %}
{% for p in bus_power %}
    genvar {{ p.name }}_i;
    generate
        for ({{ p.name }}_i = 0; {{ p.name }}_i < {{ p.count }}; {{ p.name }}_i = {{ p.name }}_i + 1) begin : {{ p.name }}_pad
            (* keep *)
            {{ tech_prefix }}_IOPad{{ power_pad_type(p.name) }} i_pad (
                `ifdef USE_POWER_PINS
{% for pw in power_names %}
                .{{ pw | ljust(power_pad_width) }}({{ pw }}){{ ',' if not loop.last else '' }}
{% endfor %}
                `endif
            );
        end
    endgenerate

{% endfor %}
{% for out in scalar_outputs %}
    (* keep *)
    {{ tech_prefix }}_IOPadOut{{ out.strength }}mA {{ out.signal }}_pad (
        `ifdef USE_POWER_PINS
{% for pw in power_names %}
        .{{ pw | ljust(power_pad_width) }}({{ pw }}),
{% endfor %}
        `endif
        .c2p    ({{ out.signal }}_c2p),
        .pad    ({{ out.name }})
    );

{% endfor %}
{% for out in bus_outputs %}
    genvar {{ out.signal }}_i;
    generate
        for ({{ out.signal }}_i = 0; {{ out.signal }}_i < {{ out.width }}; {{ out.signal }}_i = {{ out.signal }}_i + 1) begin : {{ out.signal }}_pad
            (* keep *)
            {{ tech_prefix }}_IOPadOut{{ out.strength }}mA i_pad (
                `ifdef USE_POWER_PINS
{% for pw in power_names %}
                .{{ pw | ljust(power_pad_width) }}({{ pw }}),
{% endfor %}
                `endif
                .c2p    ({{ out.signal }}_c2p[{{ out.signal }}_i]),
                .pad    ({{ out.name }}[{{ out.signal }}_i])
            );
        end
    endgenerate
{% endfor %}
{% for inp in scalar_inputs %}
    (* keep *)
    {{ tech_prefix }}_IOPadIn {{ inp.signal }}_pad (
        `ifdef USE_POWER_PINS
{% for pw in power_names %}
        .{{ pw | ljust(power_pad_width) }}({{ pw }}),
{% endfor %}
        `endif
        .p2c    ({{ inp.signal }}_p2c),
        .pad    ({{ inp.name }})
    );

{% endfor %}
{% for inp in bus_inputs %}
    genvar {{ inp.signal }}_i;
    generate
        for ({{ inp.signal }}_i = 0; {{ inp.signal }}_i < {{ inp.width }}; {{ inp.signal }}_i = {{ inp.signal }}_i + 1) begin : {{ inp.signal }}_pad
            (* keep *)
            {{ tech_prefix }}_IOPadIn i_pad (
                `ifdef USE_POWER_PINS
{% for pw in power_names %}
                .{{ pw | ljust(power_pad_width) }}({{ pw }}),
{% endfor %}
                `endif
                .p2c    ({{ inp.signal }}_p2c[{{ inp.signal }}_i]),
                .pad    ({{ inp.name }}[{{ inp.signal }}_i])
            );
        end
    endgenerate
{% endfor %}
{% for io in scalar_inouts %}
    (* keep *)
    {{ tech_prefix }}_IOPadInOut{{ io.strength }}mA {{ io.name }}_pad (
        `ifdef USE_POWER_PINS
{% for pw in power_names %}
        .{{ pw | ljust(power_pad_width) }}({{ pw }}),
{% endfor %}
        `endif
        .c2p    ({{ io.out_sig }}),
        .c2p_en ({{ io.oe_sig }}),
        .p2c    ({{ io.in_sig }}),
        .pad    ({{ io.name }})
    );

{% endfor %}
{% for io in bus_inouts %}
    genvar {{ io.name }}_i;
    generate
        for ({{ io.name }}_i = 0; {{ io.name }}_i < {{ io.width }}; {{ io.name }}_i = {{ io.name }}_i + 1) begin : {{ io.name }}_pad
            (* keep *)
            {{ tech_prefix }}_IOPadInOut{{ io.strength }}mA i_pad (
                `ifdef USE_POWER_PINS
{% for pw in power_names %}
                .{{ pw | ljust(power_pad_width) }}({{ pw }}),
{% endfor %}
                `endif
                .c2p    ({{ io.out_sig }}[{{ io.name }}_i]),
                .c2p_en ({{ io.oe_sig }}[{{ io.name }}_i]),
                .p2c    ({{ io.in_sig }}[{{ io.name }}_i]),
                .pad    ({{ io.name }}[{{ io.name }}_i])
            );
        end
    endgenerate
{% endfor %}
{% for ts in scalar_tristates %}
    (* keep *)
    {{ tech_prefix }}_IOPadTriOut{{ ts.strength }}mA {{ ts.name }}_pad (
        `ifdef USE_POWER_PINS
{% for pw in power_names %}
        .{{ pw | ljust(power_pad_width) }}({{ pw }}),
{% endfor %}
        `endif
        .c2p    ({{ ts.out_sig }}),
        .c2p_en ({{ ts.oe_sig }}),
        .pad    ({{ ts.name }})
    );

{% endfor %}
{% for ts in bus_tristates %}
    genvar {{ ts.name }}_i;
    generate
        for ({{ ts.name }}_i = 0; {{ ts.name }}_i < {{ ts.width }}; {{ ts.name }}_i = {{ ts.name }}_i + 1) begin : {{ ts.name }}_pad
            (* keep *)
            {{ tech_prefix }}_IOPadTriOut{{ ts.strength }}mA i_pad (
                `ifdef USE_POWER_PINS
{% for pw in power_names %}
                .{{ pw | ljust(power_pad_width) }}({{ pw }}),
{% endfor %}
                `endif
                .c2p    ({{ ts.out_sig }}[{{ ts.name }}_i]),
                .c2p_en ({{ ts.oe_sig }}[{{ ts.name }}_i]),
                .pad    ({{ ts.name }}[{{ ts.name }}_i])
            );
        end
    endgenerate
{% endfor %}

endmodule
